.about {
  display: flex;
  flex-direction: row;
  min-height: 560px;
  height: 100%; }

.wrap-about {
  height: 560px;
  width: 50%; }

.block-img {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%; }

.block-img div.img-home {
  background-image: url(../../../assets/images/IMG-516b36b6ec3481adaca27ee7dd47378f-V.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%; }

.block-img > div {
  background-position: center;
  background-size: cover;
  flex-grow: 1; }

.block-info {
  width: 50%;
  min-height: 560px;
  height: 100%;
  background-color: #f1f1f1;
  padding: 60px 50px; }

.block-info .title-about {
  margin: 0 auto; }

.block-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 40px; }

.block-content .text-content {
  padding: 0 15px;
  text-align: left; }

.block-content .text-content p {
  color: #757575; }

.block-content .about-icon {
  height: auto;
  max-width: 100%;
  vertical-align: top; }

.block-content .about-icon img {
  height: 51px;
  width: 52px; }

@media (max-width: 1920px) {
  .wrap-about {
    min-height: 750px; }
  .block-info {
    min-height: 750px; } }

@media (max-width: 1024px) {
  .block-info {
    padding: 60px 25px; }
  .wrap-about {
    width: 100%;
    height: 750px; }
  .block-info {
    width: 100%; }
  .about {
    display: flex;
    flex-direction: column; } }

@media (max-width: 767px) {
  .about {
    display: flex;
    flex-direction: column; } }
