.branchLaw-title {
  padding: 187px 0 30px 0;
  background-color: #0c0c1e;
  color: #757575;
}
.card-list-branchLaw {
  white-space: normal;
}
.block-branchLaw {
  padding-bottom: 45px;
  .card-wrap {
    .card-list-branchLaw {
      .card-branchLaw {
        margin: 45px 6px 6px 6px;
        max-width: 358px;
        position: relative;
        .card-body-branchLaw {
          position: absolute;
          display: flex;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          color: #ffffff;
          .btn-branchLaw {
            background-color: transparent;
            color: #f1f1f1;
            padding: 0 3px;
            text-decoration: none;
          }
        }
      }
      .card-branchLaw:hover .btn-branchLaw {
        background-color: #b24a3b;
        color: #ffffff;
        border-radius: 5px;
      }
    }
  }
}
.branch-title {
  font-size: 30px;
}
.info-block-branch {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  .img-branch {
    width: 60%;
    height: auto;
    margin: 30px auto;
    img {
      width: 100%;
      height: 380px;
    }
  }
  .info-branch {
    text-align: left;
    min-height: 380px;
    height: auto;
    width: 40%;
    margin: 30px 0 30px 20px;
    padding: 20px;
    background-color: #f1f1f1;
    a {
      color: #36363a;
      text-decoration: none;
      margin: 5px 0;
      font-size: 1.3rem;
    }
    a:hover {
      color: #b24a3b;
    }
    .tel-branch,.email-branch {
      display: flex;
      flex-direction: column;
      margin: 30px 0;
      h6 {
        font-size: 1.3rem;
      }
    }
  }
}
.description {
  p {
    text-align: left;
    margin-left: 5px;
  }
}
.text-description {
  font-size: 20px;
  font-weight: 600;
}
.card-header-branchLaw {
  height: auto;
  max-width: 358px;
  img {
    height: 240px;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .branch-section {
    padding-top: 150px;
  }
  .info-block-branch {
    .img-branch {
      img {
        height: 280px;
      }
    }
    .info-branch {
      min-height: 280px;
      margin: 0 0 0 20px;
      padding: 20px;
      a {
        font-size: 1.2rem;
      }
      .tel-branch,.email-branch {
        margin: 10px 0;
        h6 {
          font-size: 1.2rem;
        }
      }
    }
  }
  .card-header-branchLaw {
    max-width: 356px;
  }
  .block-branchLaw {
    padding: 160px 0 15px 0;
  }
  .block-branchLaw .card-wrap .card-list-branchLaw .card-branchLaw {
    max-width: 356px;
    margin: 15px 6px 6px 6px;
  }
}
@media (max-width: 550px) {
  .info-block-branch {
    flex-direction: column;
    .img-branch {
      img {
        height: 200px;
      }
    }
    .info-branch {
      min-height: 200px;
      padding: 0 10px;
    }
    .img-branch  {
      width: 100%;
      margin: 20px 0 0 0;
    }
    .info-branch {
      margin: 10px 0;
      width: 100%;
    }
  }
}
@media (max-width: 414px) {
  .branch-section {
    padding-top: 100px;
  }
  .card-list-branchLaw {
    margin: -50px 0 0 0;
  }
  .block-branchLaw .card-wrap .card-list-branchLaw .card-branchLaw {
    margin: 15px 0 6px 0;
  }
  .card-header-branchLaw {
    max-width: 358px;
    img {
      height: 200px;
      width: 100%;
    }
  }
}
