.section-contacts {
  min-height: 655px;
  height: auto;
}
.block-section-contact {
  display: flex;
  flex-direction: row;
  .block-info-contact {
    width: 40%;
    height: auto;
    .contact-info {
      width: 100%;
      padding: 52.5px 15px;
      display: flex;
      flex-direction: column;
      background-color: #f1f1f1;
      a {
        color: #0c0c1e;;
      }
      a:hover {
        color: #b24a3b;
      }
      .wrap {
        padding: 0 69px;
        text-align: left;
        div {
          margin-bottom: 25px;
        }
        div h4 {
          font-size: 22px;
          color: #0c0c1e;
          margin-bottom: 25px;
          font-weight: 500;
        }
        div p {
          color: #757575;
          margin-bottom: 0;
        }
        .contact-info-wrap {
          font-size: 16px;
          color: #b24a3b;
          font-weight: 600;
          p {
            color: #0c0c1e;;
          }
          a {
            text-decoration: none;
          }
          .block-tel {
            display: flex;
            flex-direction: column;
          }
          h6 {
            font-size: 16px;
            font-weight: 600;
          }
        }
      }
    }
  }
  .block-maps {
    width: 60%;
    height: auto;
    background-color: #b24a3b;
    .maps {
      width: 100%;
      padding: 50px 15px;
    }
  }
}
.app-title-contact {
  padding: 50px 0;
}
@media (max-width: 1024px) {
  .block-section-contact .block-info-contact .contact-info .wrap {
    padding: 0 20px;
  }
}
@media (max-width: 790px) {
  .app-title-contact {
    padding: 21px 0 21px 0;
  }
  .block-section-contact {
    flex-direction: column;
    .block-info-contact {
      width: 100%;
      .contact-info {
        padding: 25px 15px;
        .wrap {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: flex-start;
        }
        .wrap div {
          margin-bottom: 10px;
        }
      }
    }
  }
  .block-section-contact .block-maps {
    width: 100%;
  }
}
@media (max-width: 550px) {
  .block-section-contact .block-info-contact .contact-info .wrap {
    flex-direction: column;
  }
}
