.block-attorney {
  background-color: #f1f1f1;
  padding: 30px 15px;
  .card-list-attorney {
    .card {
      max-width: 100%;
      @media(min-width:768px) {
        width: 100%;
        margin: 30px 0;
      }
    }
    .card:hover .btn-branchLaw {
      background-color: #b24a3b;
      padding: 0 3px;
      color: #ffffff;
      border-radius: 5px;
    }
    margin: 0;
    .card-attorney {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      .attorney-info {
        width: 50%;
        height: 100%;
        .quote {
          font-size: 18px;
          font-weight: 600;
        }
      }
      .wrap-aboutUs {
        width: 50%;
        .block-img {
          min-height: 500px;
          padding: 0 0 0 30px;
          div.img {
            background-image: url(../../../assets/images/DSC_6672.jpg);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}

@media (max-width: 850px) {
  .block-attorney .card-list-attorney .card-attorney .attorney-info .quote {
    font-size: 16px;
  }
}
@media (max-width: 760px) {
  .block-attorney .card-list-attorney .card-attorney {
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  .block-attorney .card-list-attorney .card-attorney {
    .attorney-info {
      width: 100%;
    }
    .wrap-aboutUs {
      width: 100%;
      .block-img {
        padding: 0;
      }
    }
  }
}

