.wrap-works {
  min-height: 410px;
  height: 100%;
  width: 100%; }

.block-img-works {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  width: 100%;
  min-height: 410px;
  height: 100%; }

.block-img-works > div {
  background-position: center;
  background-size: cover;
  flex-grow: 1; }

div.img-works {
  background-image: url(../../../assets/images/work.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%; }

.wrap-works-content {
  padding: 50px 0; }
  .wrap-works-content .block-info-works {
    color: #ffffff; }
    .wrap-works-content .block-info-works .title-works::after {
      background: #ffffff;
      content: "";
      display: block;
      height: 2px;
      width: 70px;
      margin: 20px auto 20px auto; }
  .wrap-works-content .block-steps {
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .wrap-works-content .block-steps .step-text {
      padding: 0 10px; }
    .wrap-works-content .block-steps .icon-works, .wrap-works-content .block-steps .title-info-text {
      margin-bottom: 20px; }

.icon-works, .title-info-text {
  margin-bottom: 20px; }

@media (max-width: 847px) {
  .wrap-works-content .block-steps {
    display: flex;
    flex-direction: column; } }
