.text-ticker {
  padding: 50px;
  width: 100%;
  cursor: pointer; }
  .text-ticker h4 {
    margin: 0;
    color: #0c0c1e; }

.effect {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  background: transparent;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s; }

.effect:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #b24a3b;
  opacity: 0.8;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.effect:hover, .hhh:focus, .hhh:active {
  color: white; }

.effect:hover:before, .effect:focus:before, .effect:active:before {
  -webkit-transform: scale(1);
  transform: scale(1); }
